/* Reset e configurações globais */
:root {
    --text-light: #dfdfdf;
    --text-dark: #313131;
    --background-dark: #313131;
    --contrast-light: #dfdfdf;
    --gray-dark: #666;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    background-color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
i {
    font-size: 25px;
}
a {
    text-decoration: none;
    color: inherit;
}
input, button, a {
    outline: none;
}

/* Header */
.header-main {
    padding: 0 80px;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000d8;
    color: var(--text-light);
}

/* Menu do header */
.header-main .menu > i {
    padding: 7px 12px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .4s;
}
.header-main .menu .menu-side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    background-color: var(--background-dark);
    transition: transform 1s;
    transform: translateX(-100%);
    text-align: right;
}
.header-main .menu .menu-side > i {
    margin-top: 20px;
    margin-right: 40px;
    padding: 7px 12px;
    border-radius: 100%;
    cursor: pointer;
}
.header-main .menu .menu-side ul {
    margin-top: 20px;
}
.header-main .menu .menu-side ul li:first-child {
    border-top: 1px solid var(--contrast-light);
}
.header-main .menu .menu-side ul li {
    border-bottom: 1px solid var(--contrast-light);
    transition: all .4s;
}
.header-main .menu .menu-side ul li:hover,
.header-main .menu .menu-side > i:hover,
.header-main .menu > i:hover {
    background-color: var(--contrast-light);
    color: var(--text-dark);
}
.header-main .menu .menu-side ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px 40px;
}

/* Conteúdo */
.content-main {
    margin-left: auto;
    padding: 50px;
    width: 100vw;
    transition: width 1s;
}
.content-main .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--gray-dark);
    padding: 0 20px;
}
.content-main .title-section > i {
    margin-bottom: 10px;
}
.content-main .title-section > span {
    font-size: 15pt;
}

/* Formatação de formulário */
.form-standard {
    margin: 20px auto;
    padding: 20px 40px 40px;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.096);
}
.form-standard label {
    margin: 20px 0 5px;
}
.form-standard input:not([type='submit']) {
    font-size: 1rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.form-standard input[type='submit'], .form-standard button {
    margin-top: 20px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid var(--contrast-light);
    background-color: var(--background-dark);
    color: var(--contrast-light);
    border-radius: 5px;
    cursor: pointer;
}
.form-standard input[type='submit']:hover, .form-standard button:hover {
    border: 1px solid var(--background-dark);
    background-color: var(--contrast-light);
    color: var(--background-dark);
}
.form-standard .detail {
    margin-top: 20px;
    font-size: .8rem;
}
