.informations {
    width: 60%;
    margin: auto;
}
.informations > p {
    margin: 15px auto;
    text-align: justify;
}
.informations .plink {
    margin-top: 20px;
}
.informations .plink > a {
    background-color: var(--background-dark);
    border: 1px solid var(--contrast-light);
    color: var(--contrast-light);
    padding: 20px;
    border-radius: 5px;
}
